@import url(./vendor/normalize.css);
@import url(./common.css);
@import url(./vendor/font.css);

#root {
  background-color: #9fd6c3;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.page__section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.display-none {
  display: none;
}